name: Spring Boot - E2E + JMeter Performance Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  full-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission to Maven wrapper
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean install

      - name: Install Chrome and Chromedriver
        uses: browser-actions/setup-chrome@v1

      - name: Start Spring Boot App in background
        run: |
          ./mvnw spring-boot:run &
          sleep 30

      - name: Run Selenium E2E tests (LoginTest)
        run: |
          sudo apt-get install -y xvfb
          Xvfb :99 -ac &
          export DISPLAY=:99
          ./mvnw -e -X test -Dtest=LoginTest
      

      - name: Install JMeter
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip
          wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Run JMeter test plan
        run: |
          mkdir -p results/report
          jmeter/bin/jmeter -n \
            -t test/java/co.cue.edu.apploginsamuelbuitrago/register_test.jmx \
            -l results/result.jtl \
            -e -o results/report

      - name: Upload JMeter HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-html-report
          path: results/report

